<div>
  <h1 class="homeTitle">Cinema</h1>
  <h1 class="homeTitle">Ironhack</h1>
  <a href="/movies">Check the movies!</a>

</div>

<img
  id="backgroundPhoto"
  src="https://th.bing.com/th/id/R.b22a423b7acfd5549ea520984df55fd0?rik=2qv4d963BWpNGA&riu=http%3a%2f%2fimage.wanda.cn%2fuploadfile%2f2015%2f0628%2f20150628090701733.png&ehk=27%2faqJHdp5YzZCsDrluFn6xe2ZqN7ltZ5NsrDMva9NY%3d&risl=&pid=ImgRaw&r=0"
  alt="Cinema image"
/>